﻿.menu li.current>a{
    background: transparent;
}
.menu li.current>a:hover{
    background: rgba(0, 0, 102, 0.3);
}


.menu{
    /*background-image: url(http://www.abiquataxsolutions.com/wp-content/themes/Abiqua/images/abiquatax-header_01.png);*/
    background: transparent;
    border: transparent;
    
  
    
}

#atsTop {
    background-image: url("/Images/atsTop.png");
    height: 80px;
}
#atsBot {
    background-image: url("/Images/atsBot.png");

}

#socialNSE{
    float: right;
    
}