﻿body{
    padding-top: 0px;
}

#OverWrite{
    padding-top: 0px !important;
}

.featured-ribbon {
    background: url(http://www.abiquataxsolutions.com/wp-content/themes/Abiqua/images/abiquatax_10.png) no-repeat scroll center bottom transparent;
    height: 48px;
    position: absolute;
    top: 440px;
    width: 100%;
    left: auto;
    z-index: 9;
    min-width: 1000px;
}

#homeImg {
    height: 325px;
    width: auto;
     

}
#homeImg img {
    margin: 0;
    
    position: absolute;
    top: 294.5px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }


#home{
    position: relative;
}
