﻿<!-- START MENU -->
<div id="atsTop">
    <a href="http://www.abiquataxsolutions.com"><img src="http://www.abiquataxsolutions.com/wp-content/themes/Abiqua/images/logo.png" alt="Minimal Logo" id="logo"></a>
    <div id="socialNSE">
        <div id="socialWrap">
            <a href="https://www.facebook.com/abiquataxsolutions/" target="_blank"><img src="http://www.abiquataxsolutions.com/wp-content/uploads/2014/07/fbico-50x52.png" height="30" width="30"></a>
        </div>
        <div id="socialWrap">
            <a href="https://twitter.com/AbiquaTax" target="_blank"><img src="http://www.abiquataxsolutions.com/wp-content/uploads/2014/07/twico-50x52.png" height="30" width="30"></a>
        </div>
    </div>
</div>

<div id="atsBot">
    <ul class="menu">
        <li class="current"><a routerLink="">Home</a></li>
        <li class="current"><a routerLink="pricing">Pricing</a></li>
        <li class="current"><a routerLink="news">News</a></li>
        <li class="current"><a routerLink="form">Forms</a></li>
        <li class="current"><a routerLink="staff">Staff</a></li>
        <li class="current"><a routerLink="contact">Contact Us</a></li>

    </ul>
</div>
<div id="homeImg">
    <img src="http://www.abiquataxsolutions.com/wp-content/uploads/2013/01/tax_advice.jpg"/>
</div>
<div class="featured-ribbon"></div>

<!-- END MENU -->
<!-- Routing Sector -->
<router-outlet></router-outlet>