﻿ <div id="home">

    <div>
        <h3>Home</h3>
    </div>

    <div class="row">
        <div class="col_8">
            <p>
                Trusted Advice
                Home
                We are a full service, year around tax office.  The services we offer are Audit Representation,
                Tax Preparation, Consultation, Bookkeeping, Payroll, Bill Pay Services, Bank Reconciliations,
                Tax Software Instruction, Advanced Tax Classes and Computer classes.  We have a web developer
                and computer tech also available for computer assistance with online or onsite technical needs.
                Our office has been open 10 years in the Silverton area. Many of our staff have 30+ years of
                experience. We have Enrolled Agents (tax experts) onsite most of the time. All our work is checked.
                <br />
                <br />
                We look forward to serving your needs.
                <br />
                <br />
                <span>M. Howard EA, LTC</span> 
                <br />
                Owner
            </p>
        </div>
        <div class="col_4">
            News by catagory
            <ul>
                <li>Did You Know</li>
                <li>Tax Hints</li>
                <li>Tax Updates</li>
                <li>NSTP News Feed</li>
                <li>NAEA News Feed</li>
            </ul>
        </div>
    </div>
</div>

