﻿<div class="container">

    <div>
        <h3>News</h3>
    </div>

    <div class="row">
        <div class="col_8">
            <h1>NAEA News Feed</h1>
            <ul>
                <li>When the Tax Tables Turn: Claiming Your Parents as Dependents <br />
                    Source: NAEAPublished on 2017-01-26</li>
                <li>Filing Season Opens – with Possible Refund Delays <br />
                    Source: NAEAPublished on 2017-01-19</li>
                <li>IRS Imposters Proliferate in 2017 <br />
                    Source: NAEAPublished on 2017-01-13</li>
                <li>
                    Last-Minute Savings for Tax Year 2016 <br />
                    Source: NAEAPublished on 2016-12-12</li>
                <li>
                    The Tax Implications of Disaster: What the Wildfires Mean for the Volunteer State <br />
                    Source: NAEAPublished on 2016-12-07</li>
            </ul>
            <h1>NSTP News Feed</h1>
            <ul>
                <li></li>
            </ul>

        </div>
        <div class="col_4">

        </div>
    </div>
</div>