﻿<div class="container">
    <div>
        <h3> Pricing </h3>
    </div>
    <div class="row">
        <h2> Base   Form/Schedual   Price</h2>
        <div class="col_8">
            1040
            <ul>
               <li>1040    $78</li> 
            </ul>
            W-2
            <ul>
                <li>9465    $20</li>
            </ul>
            1099
            <ul>
                <li>1099    $10</li>
            </ul>
        </div>
        <div class="col_4">

        </div>
    </div>
</div>

